@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin");
@import url("https://fonts.cdnfonts.com/css/menlo");
@import url("https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css");

html {
  font-size: 100%;
}

body {
  font-family: sans-serif;
  font-size: 1.4rem;
}

.main.container {
  margin-top: 7rem;
}

dialog {
  z-index: 1;
}

@media only screen and (min-width: 1200px) {
  .ui.container {
    width: 1572px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.ui.button,
.ui.buttons .button,
.ui.buttons .or {
  font-size: 1.5rem;
}

.styled-dialog {
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 2px 7px 1px rgb(0 0 0 / 30%);
}

dialog form .close-x {
  cursor: pointer;
  position: absolute;
  right: 0.6rem;
  top: 0.6rem;
  border-radius: 50%;
  border: none;
  padding: 0.4rem 0.8rem;
  background-color: unset;
  background-image: url(/assets/close-cross.png);
  background-size: 2rem 2rem;
  background-origin: border-box;
  background-position: center center;
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

.ui.grid > .column:not(.row),
.ui.grid > .row > .column {
  position: unset;
}

.ui.grid > .row {
  position: unset;
}

pre {
  font-size: 1.8rem;
  line-height: initial;
}
@media only screen and (max-width: 767px) {
  pre {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
